.features {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 100%;
}

.features-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.feat {
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: 400;
}


@media (max-width: 660px) {
    .features-content {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
}

@media (max-width: 300px) {
    .feat {
        gap: .35em;
    }

    .features h4 {
        text-align: center;
        font-size: 12px;
    }
}