.process {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3em;
    border-top: 3px solid #E5E7EB;
    padding-top: 3em;
}

.process-content {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.process-head h5 {
    color: #000000;
    font-size: 3rem;
}

.process-head p {
    color: #000000;
    font-size: 1.5rem;
}

.process .cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 3em;
    margin-top: 5em;
}

.process .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.process .card .top {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #E5E7EB;
    justify-content: space-between;
    height: 200px;
    align-items: flex-end;
    padding-bottom: 3em;
}

.process .card .top h1 {
    font-size: 4rem;
    width: 100%;
    text-align: left;
}

.process .card .top img {
    height: 40px;
    text-align: right;
}

.process .card .mid {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
    padding: 3rem 0;
}

.process .card p {
    text-align: left;
}

.process .card .mid .hd {
    font-size: 1.35rem;
}

.process .card .mid p {
    font-size: 1.25rem;
}

.process .card .bottom {
    border-top: 3px solid #E5E7EB;
    padding-top: 2rem;
}

.process .card .bottom p {
    font-size: 1.75rem;
    text-transform: uppercase;
}

@media (max-width: 1150px) {
    .process-content {
        max-width: 90%;
    }
}

@media (max-width: 1030px) {
    .process .card .mid p {
        font-size: 1rem;
    }

    .process .card .bottom p {
        font-size: 1.25rem;
    }
}

@media (max-width: 900px) {
    .process-content {
        max-width: 80%;
    }
}

@media (max-width: 800px) {
    .process-content {
        max-width: 90%;
    }
}

@media (max-width: 700px) {
    .process h3 {
        font-size: 2rem;
    }
}

@media (max-width: 550px) {
    .features h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 340px) {
    .process h3 {
        font-size: 1rem;
    }

    .process .text p {
        font-size: 12px;
    }
}