.landing-page {
    background-color: #F0F0F0;
    min-height: 100vh;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.landing-page header,
.landing-page main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}