.landing-page {
    background-color: #131313;
    min-height: 100vh;
    color: #E5E2E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    width: 100%;
}

.landing-page header,
.landing-page main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    width: 100%;
}